{% extends 'data.html' %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static',filename='stylesheet/2.css')}}" >
{% endblock %}
{% block thead %}
<tr>
    <td>name</td>
    <td>full name</td>
    <td>sign</td>
    <td>change percent</td>
    <td>mexc price</td>
    <td>mexc status</td>
    <td>lbank price</td>
    <td>xt price</td>
    <td>xt status</td>
    <td>gate</td>
    <td>gate status</td>
    <td>phemex</td>
    <td>coinex</td>
    <td>coinex status</td>
    <td>bibox</td>
    <td>bibox status</td>
    <td>percentage differenec</td>
</tr>
{% endblock %}