<!DOCTYPE html>
<html>
    <head>
        <!-- <meta http-equiv="refresh" content="5"> -->
        <link rel="stylesheet" href="{{ url_for('static',filename='stylesheet/style.css') }}">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <!-- <button type="button" onClick="window.location.reload()">
            Reload Page
         </button> -->
        <table>
            <thead>
                {% block thead %}
                {% endblock %}
            </thead>
            <tbody>
                {% block tbody %}
                {% endblock %}
            </tbody>
        </table>
        <script>
            setInterval(function () {window.location.reload()}, 5000);
        </script>
    </body>
</html>